*.bit filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.vcd filter=lfs diff=lfs merge=lfs -text
*.fsdb filter=lfs diff=lfs merge=lfs -text
*.wlf filter=lfs diff=lfs merge=lfs -text
*.gtkw filter=lfs diff=lfs merge=lfs -text
